<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404: Page Not Found1</title>
  </head>
  <body>
    <main><h1>Erorr: 404</h1></main>
    <p>
      Oops... the page you're looking for does not exist or may have been
      deleted!😢
    </p>
    <p><a href="/">Return to Home Page</a></p>
  </body>
</html>
